body{
    font-family: 'Ubuntu', sans-serif;
}


a{
    text-decoration: none;
    color-scheme: pink;
}

a:hover{
    opacity: 0.8;
    background-color: black;
    color:aqua;
}


.title{
    text-transform: uppercase;
    margin-left: 10px;
}


.container{
    background: hsla(32, 21%, 56%, 1);
    background: linear-gradient(135deg, hsla(32, 21%, 56%, 1) 0%, hsla(45, 54%, 67%, 1) 70%);
    background: -moz-linear-gradient(135deg, hsla(32, 21%, 56%, 1) 0%, hsla(45, 54%, 67%, 1) 70%);
    background: -webkit-linear-gradient(135deg, hsla(32, 21%, 56%, 1) 0%, hsla(45, 54%, 67%, 1) 70%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#A69076", endColorstr="#D9C27E", GradientType=1 );
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.content{
    max-width: 960px;
    max-height: 500px;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 5px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 1.8em; 
}

.paragraph{
    line-height: 1.8em;
    font-weight: 300;
}

.fa-star{
    color: yellow;
}

.table{
    width: 100%;
    border-spacing: 0;
}

.table td, .table th{
    padding: 1em;
    text-align: left;
}

.table tr:nth-child(even){
    background-color: #F2E3D5;
}

@media 










